#example1 {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 250px;
}
#example1 .handle {
    background: #999;
    border: 1px solid;
    border-color: #eee #666 #666 #eee;
    color: #fff;
    font: 14px/1.3 "Helvetica Neue", arial, sans-serif;
    padding: 4px 8px;
    text-shadow: -1px -1px 0 #777;
}
#example1 .handle a {
    display: block;
}
#example1 .panel {
    padding: 4px 8px;
}