<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {{ page.title }}
        </title>
        <link rel="stylesheet" href="/a/c/site.css" type="text/css">
        <link rel="stylesheet" href="/a/c/syntax.css" type="text/css">
    </head>
    <body{% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>
        {% include nav.html %}
        <article>
            {{ content }}
        </article>
        {% include foot.html %}
        <script type="text/javascript" src="/a/j/create-html5.js"></script>
    </body>
</html>