<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {{ page.title }}
        </title>
        <link rel="stylesheet" href="/a/c/site.css" type="text/css">
    </head>
    <body{% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>
        <nav>
            <ul>
                <li><a href="/" rel="home">Projects Home</a></li>
                <li><a href="http://timhuegdon.com" rel="me">timhuegdon.com</a></li>
        </nav>
        <article>
            {{ content }}
        </article>
        <small>© {{ site.time | date: "%Y" }} <a href="http://timhuegdon.com" rel="me">Tim Huegdon</a> -- May contain traces of nuts</small>
        <script type="text/javascript" src="/a/j/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/a/j/jquery.accordion.2.0.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function docReady(e){
                var acc = $("article>ul").accordion({
                    handle: "h2",
                    panel: "ul"
                });
                
                acc.bind("panel-open", function(e){
                    $(e.target)
                        .closest("li")
                        .find("h2 span")
                        .html("&minus;");
                });

                acc.bind("panel-close", function(e){
                    $(e.target)
                        .closest("li")
                        .find("h2 span")
                        .html("+");
                });
            });
        </script>
    </body>
</html>