<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {{ page.title }}
        </title>
        <link rel="stylesheet" href="/a/c/site.css" type="text/css">
    </head>
    <body{% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>
        <nav>
            <ul>
                <li><a href="/" rel="home">Projects</a></li>
                <li><a href="http://timhuegdon.com" rel="me">timhuegdon.com</a></li>
            </ul>
        </nav>
        <article>
            {{ content }}
        </article>
        <small>© {{ site.time | date: "%Y" }} <a href="http://timhuegdon.com" rel="me">Tim Huegdon</a> -- May contain traces of nuts</small>
        <script type="text/javascript" src="/a/j/create-html5.js"></script>
        <script type="text/javascript" src="/a/j/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/a/j/jquery.easing.min.js"></script>
        <script type="text/javascript" src="/a/j/jquery.accordion.2.0.min.js"></script>
        <script type="text/javascript" src="/a/j/index.js"></script>
    </body>
</html>